@import "sass/commonSections/iti";
@import "sass/global_styles/bootstrap-classes";
@import "sass/global_styles/global";
@import "sass/global_styles/header";
@import "sass/global_styles/footer";
@import "sass/commonSections/flickity";

// GLOBAL STYLES

// MAIN NAVIGATION
.homepage-header {
  background-color: #ecfbff;

  @media (min-width: 992px) {
    background-image: url(../imgs/homepage/homepage-hero-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: 2000px) {
    height: 768px;
  }
}

.navbar-nav {
  img.flag {
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }

  #user-dropdown:hover {
    @media (min-width: 992px) {
      background: #f5f9fb;
      border-radius: 7px;
      #user-dropdown-menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  #user-dropdown {
    @media #{$maxTab} {
      border-bottom: 1px solid #eeeef5;
    }
  }

  .bg-sa {
    background: url("../imgs/langs_flags.png") -10px -10px;
  }

  .bg-us {
    background: url("../imgs/langs_flags.png") -50px -10px;
  }
}

.navbar {
  padding: 24px 0;

  &.bg-white {
    background: #fff;
  }

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media #{$maxTab} {
    position: absolute;
    z-index: 5;
    right: 0;
    left: 0;
    padding: 15px 0;
  }

  .main-logo:focus,
  .main-logo:link {
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
  }

  .main-logo:hover {
    color: #000;
  }

  .contact-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    display: block;

    @media #{$maxTab} {
      padding: 10px 20px;
    }

    &:hover {
      color: $primaryColor;
    }
  }

  .navbar-collapse {
    @media #{$maxTab} {
      order: 3;
      position: fixed;
      transform: translateX(-100%);
      transition: 0.2s ease-out;
      top: 70px;
      width: 100%;
      left: 0;
      background: #fff;
      box-shadow: inset 0px 4px 30px rgb(76 76 108 / 12%);

      &.active {
        transform: translateX(0);
      }

      .navbar-nav {
        flex-direction: column-reverse;
      }
    }

    .nav-container {
      padding: 0 !important;
    }
  }

  .login,
  .download-app {
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
    padding: 10px 20px;

    @media #{$maxTab} {
      padding: 6px 16px;
    }
  }

  // Menu toggle button
  .hamburger .line {
    width: 22px;
    height: 2px;
    background-color: #000;
    display: block;
    margin: 7px auto;
    transition: all 0.2s ease-in-out;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  #hamburger-11 {
    display: inline-block;
    padding: 0 10px;
    margin-right: 7px;
    transition: all 0.2s ease-in-out;
  }

  #hamburger-11.is-active {
    animation: smallbig 0.3s forwards;
  }

  @keyframes smallbig {
    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(0);
    }
  }

  #hamburger-11.is-active .line:nth-child(2) {
    opacity: 0;
  }

  #hamburger-11.is-active .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  #hamburger-11.is-active .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}

.search-header .navbar .navbar-collapse .navbar-nav {
  @media #{$maxTab} {
    flex-direction: column;
  }
}

.language-dropdown {
  background: #fff;
  border-radius: 7px;
  padding: 10px 16px;
  border: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  transition: 0.2s;
  font-family: "Cairo", sans-serif;
  width: 100%;
  cursor: pointer;

  @media #{$maxTab} {
    padding: 15px 20px;
    background: none;
  }

  &:active {
    background: #f5f9fb;
  }

  &.footer-lang-dropdown {
    background: #f5f9fb;
    border-radius: 7px;
  }
}

.dropdown-menu {
  background: #ffffff;
  box-shadow: 0px 12px 22px rgba(76, 76, 108, 0.22);
  border-radius: 7px;
  border: 0;
  min-width: 130px;
  right: 0;
  padding: 4px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  @media (min-width: 992px) {
    transition: 0.2s;
  }

  &#user-dropdown-menu {
    min-width: 230px;
  }

  &#dropdown-menu2 {
    bottom: 100%;
  }

  &.mb-screen {
    @media #{$maxTab} {
      background: #f5f9fb;
      box-shadow: none;
      border-top: 1px solid #eaeef0;
      border-radius: 0;
      padding: 0;
    }
  }

  &.show {
    visibility: visible;
    opacity: 1;

    &.mb-screen {
      @media #{$maxTab} {
        position: relative;
        padding: 8px 0;
        left: 0;
      }
    }
  }

  .dropdown-item {
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: #000000;
    display: flex;
    align-items: center;
    min-width: 100px;
    padding: 6px 8px;
    &.logout {
      border-top: 1px solid #eeeef5;
      margin-top: 4px;
      color: #cd1126;
    }

    @media #{$maxTab} {
      &.nav-dropdown-item {
        padding: 8px 40px;
      }
    }

    &.active {
      background: #f5f9fb;
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 5px;
        height: 8px;
        border-right: 2px solid #2c2ffe;
        border-bottom: 2px solid #2c2ffe;
        right: 11px;
        transform: rotate(45deg);
        top: 35%;

        @media #{$maxTab} {
          right: 17px;
        }
      }
    }

    &:active {
      background: #f5f9fb;
    }

    &:hover {
      background: #d6effb;
    }
  }
}

.homepage-hero-image {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 60px 0;

  @media #{$betweentabdesk} {
    padding: 50px 0 20px;
  }

  @media #{$maxTab} {
    padding: 120px 0 60px;
  }

  @media (min-width: 992px) {
    height: calc(100% - 116px);
  }

  h1 {
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 36px;

    @media (min-width: 1400px) {
      padding-right: 50px;
    }

    @media #{$betweentabdesk} {
      font-size: 44px;
    }

    @media #{$tablet} {
      font-size: 32px;
      margin-bottom: 24px;
    }

    @media #{$mobile} {
      font-size: 28px;
      margin-bottom: 24px;
    }
  }

  .image img {
    @media (max-width: 992px) {
      max-width: 100%;
      display: block;
      height: auto;
    }
  }
}

.app-btns {
  @media (min-width: 1400px) {
    width: 80%;
  }

  div,
  a {
    width: 32%;

    svg {
      width: 100%;
      height: auto;
    }
  }

  a {
    transition: 0.3s;

    &:hover {
      opacity: 0.75;
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: 15px 19px;
  border: 0;
  font-size: 18px;
  line-height: 32px;
  background: none;
  font-weight: 600;

  @media #{$maxTab} {
    padding: 12px 19px;
  }

  &::placeholder {
    color: #777c80;
  }
}

.form-control:focus {
  color: #000;
  outline: 0;
}

.hero-left .form-group {
  @media (min-width: 1400px) {
    max-width: 520px;
  }
}

.form-group {
  background: #ffffff;
  box-shadow: 0px 12px 50px rgba(76, 76, 108, 0.15);
  border-radius: 79px;
  padding: 8px;

  @media #{$mobile} {
    background: none;
    box-shadow: none;
    flex-wrap: wrap;
    padding: 0;
  }
}

.hp-search .form-group {
  @media #{$maxTab} {
    background: none;
    box-shadow: none;
    flex-wrap: wrap;
    padding: 0;
  }
}

.search-btn {
  border-radius: 74px;
  padding: 14px 17px;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  border: 0;
  cursor: pointer;
  text-align: center;

  @media #{$mobile} {
    width: 100%;
    margin-top: 8px;
    padding: 10px 17px;
  }
}

.hp-search .search-btn {
  @media #{$maxTab} {
    width: 100%;
    margin-top: 8px;
    padding: 10px 17px;
  }
}

.section {
  padding: 100px 0;

  @media (min-width: 768px) and (max-width: 1200px) {
    padding: 60px 0;
  }

  @media #{$mobile} {
    padding: 50px 0;
  }
}

.section-title {
  font-weight: 700;
  font-size: 48px;

  @media #{$betweentabdesk} {
    font-size: 40px;
  }

  @media #{$tablet} {
    font-size: 32px;
  }

  @media #{$mobile} {
    font-size: 24px;
  }
}

// App Features
.app-features {
  .feat-box {
    background: #ffffff;
    box-shadow: 0px 33px 90px rgba(76, 76, 108, 0.1);
    border-radius: 25px;
    padding: 48px 32px;
    transition: 0.2s ease-in-out;

    &:hover {
      box-shadow: 0px 33px 90px rgba(76, 76, 108, 0.18);
    }

    @media #{$tablet} {
      padding: 20px;
    }

    h3 {
      font-weight: 700;
      font-size: 28px;

      @media #{$betweentabdesk} {
        font-size: 24px;
      }

      @media #{$tablet} {
        font-size: 20px;
      }

      @media #{$mobile} {
        font-size: 17px;
      }
    }

    p {
      font-size: 20px;

      @media #{$betweentabdesk} {
        font-size: 18px;
      }

      @media #{$maxTab} {
        font-size: 15px;
      }
    }
  }
}

// Contact
.contact-widget,
.contact-details,
.smart-options {
  p,
  li {
    font-size: 24px;

    @media (min-width: 768px) and (max-width: 1200px) {
      font-size: 20px;
    }

    @media #{$mobile} {
      font-size: 17px;
    }
  }

  li {
    @media #{$tablet} {
      font-size: 18px;
    }
  }

  ul {
    padding-left: 30px;
  }

  li {
    list-style: square;
    color: #474c4d;
    margin-bottom: 5px;

    &::marker {
      font-size: 15px;
    }
  }

  .contact-widget-content,
  .contact-details-content,
  .smart-options-content {
    position: relative;

    @media (min-width: 992px) {
      &:after {
        content: "";
        position: absolute;
        border-radius: 85px;
        width: 82%;
        height: 81%;
        z-index: -1;
        left: 11%;
      }
    }
  }

  .contact-widget-content {
    &.lazyloaded {
      &:after {
        @media (min-width: 992px) {
          background-image: url(../imgs/homepage/contact-widget-bg.png);
          background-color: #fcf3eb;
          top: -20px;
        }
      }
    }
  }

  .contact-details-content {
    &.lazyloaded {
      &:after {
        @media (min-width: 992px) {
          background-image: url(../imgs/homepage/contact-details-bg.png);
          background-color: #ecfbff;
          top: 45px;
        }
      }
    }
  }

  .smart-options-content {
    &:after {
      @media (min-width: 992px) {
        background-color: #efe7ff;
        top: -20px;
        height: 100%;
      }
    }
  }
}

.contact-widget {
  @media #{$maxTab} {
    &.lazyloaded {
      background-image: url(../imgs/homepage/contact-widget-bg.png);
    }

    background-color: #fcf3eb;
    background-repeat: no-repeat;
    padding-bottom: 30px;
  }
}

.contact-details {
  padding-top: 0;

  @media #{$maxTab} {
    &.lazyloaded {
      background-image: url(../imgs/homepage/contact-details-bg.png);
    }

    background-color: #ecfbff;
    background-repeat: no-repeat;
    padding: 60px 0 20px;
  }

  @media #{$tablet} {
    padding: 50px 0;
  }
}

.smart-options {
  @media #{$maxTab} {
    background-color: #efe7ff;
  }
}

// Upgrade Premium
.upgrade-premium {
  &.lazyloaded {
    background-image: url(../imgs/homepage/upgrade-bg.png);
  }

  background-color: #2c2ffe;
  padding-top: 150px;
  position: relative;
  z-index: 3;

  @media (min-width: 768px) and (max-width: 1200px) {
    padding-top: 80px;
  }

  @media #{$mobile} {
    padding-top: 50px;
  }

  p {
    font-size: 24px;
    color: #fff;

    @media (min-width: 768px) and (max-width: 1200px) {
      font-size: 20px;
    }

    @media #{$mobile} {
      font-size: 17px;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    margin: 15px 0 80px;

    @media #{$tablet} {
      margin: 15px 0 50px;
    }

    @media #{$mobile} {
      margin: 24px 0 36px;
      flex-direction: column;
    }

    li {
      font-weight: 600;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-right: 24px;

        @media #{$mobile} {
          margin: 0 0 10px 0;
        }
      }

      svg {
        margin-right: 10px;
      }
    }
  }

  .pricing-plans {
    background: #ffffff;
    box-shadow: 0px 33px 90px rgba(76, 76, 108, 0.1);
    border-radius: 25px 25px 0px 0px;
    display: flex;

    @media #{$mobile} {
      flex-direction: column;
    }

    .plan {
      padding: 60px 36px;
      flex: 1 1 25%;
      width: 25%;
      position: relative;

      .stretch-link {
        position: absolute;
        inset: 0;
        z-index: 10;
      }

      @media #{$betweentabdesk} {
        padding: 50px 24px 30px;
      }

      @media #{$tablet} {
        padding: 40px 16px 30px;
      }

      @media #{$mobile} {
        padding: 20px;
        flex: 1 1 100%;
        width: 100%;
      }

      &.main-plan {
        box-shadow: 0px 33px 90px rgba(76, 76, 108, 0.1);
        position: relative;

        .recommended {
          position: absolute;
          top: -21px;
          left: 50%;
          transform: translateX(-50%);
          font-weight: 600;
          font-size: 18px;
          line-height: 18px;
          color: #ffffff;
          padding: 12px 24px;
          background: #fb5b29;
          border-radius: 76px;

          @media #{$betweentabdesk} {
            font-size: 16px;
          }

          @media #{$tablet} {
            padding: 8px 12px;
            top: -16px;
            font-size: 12px;
            line-height: 14px;
          }

          @media #{$mobile} {
            position: static;
            transform: translateX(0);
            margin-bottom: 6px;
          }
        }
      }

      &:not(:last-child) {
        border-right: 1px solid #eeeef5;

        @media #{$mobile} {
          border-bottom: 1px solid #eeeef5;
          border-right: 0;
        }
      }

      &.year-plan {
        color: #2c2ffe;

        .subscribe-btn {
          color: #2c2ffe;
          background: #dfe0ff;

          &:hover {
            background: #d3d4fb;
          }

          &:active {
            background: #edeeff;
          }
        }
      }

      &.six-months-plan {
        color: #fb5b29;

        .subscribe-btn {
          color: #fb5b29;
          background: #ffdfd6;

          &:hover {
            background: #fdd0c4;
          }

          &:active {
            background: #ffefeb;
          }
        }
      }

      &.month-plan {
        color: #ff9c00;

        .subscribe-btn {
          color: #ff9c00;
          background: #ffeac8;

          &:hover {
            background: #fadeb3;
          }

          &:active {
            background: #fff1da;
          }
        }
      }

      &.seven-days-plan {
        color: #9a65ff;

        .subscribe-btn {
          color: #9a65ff;
          background: #e8dcff;

          &:hover {
            background: #d9c8fb;
          }

          &:active {
            background: #f2ebff;
          }
        }
      }
    }

    .plan-period {
      font-weight: 600;
      font-size: 28px;
      line-height: 38px;
      color: #000000;
      margin-bottom: 32px;

      @media #{$betweentabdesk} {
        font-size: 22px;
      }

      @media #{$tablet} {
        font-size: 16px;
        margin-bottom: 20px;
      }

      @media #{$mobile} {
        font-size: 17px;
        line-height: 27px;
        margin: 0 0 16px;
      }

      .off {
        font-weight: 600;
        font-size: 18px;
        line-height: 38px;
        color: #474c4d;

        @media #{$tablet} {
          font-size: 12px;
        }

        @media #{$mobile} {
          font-size: 15px;
        }
      }
    }

    .plan-price {
      font-weight: 700;
      font-size: 64px;
      line-height: 58px;
      position: relative;

      @media #{$tablet} {
        font-size: 44px;
        line-height: 50px;
      }

      @media #{$mobile} {
        font-size: 34px;
        line-height: 44px;
      }

      .cent {
        font-size: 28px;
        line-height: 15px;
        position: absolute;
        top: 10px;
        right: -35px;

        @media #{$tablet} {
          font-size: 20px;
          right: -24px;
        }

        @media #{$mobile} {
          font-size: 17px;
          line-height: 15px;
          right: -24px;
        }
      }
    }

    .plan-autorenewal-text {
      font-size: 20px;
      text-align: center;
      color: #474c4d;
      margin: 15px 16px 40px;

      @media (min-width: 1400px) {
        margin: 15px 40px 40px;
      }

      @media #{$betweentabdesk} {
        font-size: 18px;
      }

      @media #{$tablet} {
        font-size: 16px;
        margin: 15px 0 30px;
      }

      @media #{$mobile} {
        margin: 0 0 12px;
        font-size: 15px;
      }
    }

    .subscribe-btn {
      font-weight: 700;
      font-size: 15px;
      line-height: 28px;
      display: block;
      padding: 14px;
      text-align: center;
      border-radius: 7px;
      transition: 0.2s ease-in-out;

      @media #{$maxTab} {
        padding: 10px;
      }
    }
  }
}

.users-reviews {
  position: relative;
  z-index: 2;
  background: #fcf3eb;
  overflow: hidden;

  .hide-number {
    background: #ecfbff;
    border-radius: 0 0 25px 25px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media #{$mobile} {
      flex-direction: column;
      padding: 40px 20px;
    }
  }

  .service-cost {
    border-right: 1px solid #dff1f7;
    padding-right: 30px;
    display: flex;
    align-items: center;
    width: 60%;

    @media (min-width: 768px) and (max-width: 1200px) {
      width: 50%;
      padding-right: 20px;
    }

    @media #{$mobile} {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid #dff1f7;
      padding-right: 0;
      padding-bottom: 16px;
    }
  }

  .insert-number {
    padding-left: 30px;
    width: 40%;

    @media (min-width: 768px) and (max-width: 1200px) {
      padding-left: 20px;
      width: 50%;
    }

    @media #{$mobile} {
      width: 100%;
      padding-left: 0;
      padding-top: 16px;
    }

    h6 {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 20px;

      @media #{$tablet} {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 12px;
      }
    }
  }

  .price {
    background: #ffffff;
    box-shadow: 0px 33px 90px rgba(76, 76, 108, 0.1);
    border-radius: 25px;
    padding: 8px;
    display: flex;
    align-items: center;
    margin-right: 30px;

    @media (max-width: 1200px) {
      display: none;
    }

    .icon {
      background: #f8fbfd;
      border-radius: 25px;
      padding: 18px;
      margin-right: 24px;
    }

    .value {
      font-weight: 700;
      font-size: 64px;
      line-height: 58px;
      color: #2c2ffe;
      position: relative;
      padding-right: 50px;

      .cent {
        position: absolute;
        top: 10px;
        right: 12px;
        font-size: 28px;
        line-height: 15px;
      }
    }
  }

  .service-text {
    h5 {
      font-size: 28px;
      margin-bottom: 20px;

      @media #{$tablet} {
        font-size: 25px;
        margin-bottom: 15px;
      }

      @media #{$mobile} {
        font-size: 17px;
        margin-bottom: 12px;
      }

      .hide-price {
        font-weight: 700;
        font-size: 17px;
        line-height: 27px;
        color: #2c2ffe;

        @media (min-width: 768px) and (max-width: 1200px) {
          font-size: 27px;
        }
      }
    }

    p {
      font-size: 20px;
      color: #474c4d;

      @media #{$tablet} {
        font-size: 18px;
      }

      @media #{$mobile} {
        font-size: 15px;
      }
    }
  }

  .reviews {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    @media #{$betweentabdesk} {
      padding: 70px 0;
    }

    @media #{$maxTab} {
      padding: 50px 0;
    }

    h2 {
      margin-bottom: 64px;

      @media (min-width: 768px) and (max-width: 1200px) {
        margin-bottom: 34px;
      }

      @media #{$mobile} {
        margin-bottom: 24px;
      }
    }

    .top-reviews,
    .bottom-reviews {
      @media #{$mobile} {
        padding: 0 20px;
      }

      @media (min-width: 768px) {
        display: flex;
        min-width: 4000px;
      }

      // &:hover {
      //   animation-play-state: paused;
      // }
    }

    // @media (min-width: 768px) {
    //   .top-reviews {
    //     animation: ticker 30s linear infinite;
    //   }

    //   .bottom-reviews {
    //     animation: reversticker 30s linear infinite;
    //     align-self: flex-end;
    //   }
    // }

    // @keyframes ticker {
    //   0% {
    //     transform: translateX(0);
    //   }

    //   100% {
    //     transform: translateX(-50%);
    //   }
    // }

    // @keyframes reversticker {
    //   0% {
    //     transform: translateX(0);
    //   }

    //   100% {
    //     transform: translateX(50%);
    //   }
    // }

    .bottom-reviews {
      .review {
        direction: ltr;
      }
    }

    .review {
      padding: 24px;
      background: #ffffff;
      box-shadow: 0px 12px 50px rgba(103, 92, 83, 0.08);
      border-radius: 25px;
      width: 400px;
      margin: 0 15px 30px 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 220px;

      @media #{$mobile} {
        min-height: 178px;
        min-width: 280px;
        width: 100%;
        max-width: 400px;
        margin: 0 0 20px 0;
      }

      .stars {
        margin-bottom: 3px;

        img {
          display: block;
        }
      }

      .review-info {
        display: flex;
        align-items: center;

        .user {
          font-weight: 600;
          font-size: 15px;
          line-height: 28px;
          color: #474c4d;

          @media #{$mobile} {
            font-size: 13px;
          }
        }

        .dot {
          margin: 0 10px;
        }

        .date {
          font-weight: 600;
          font-size: 15px;
          line-height: 28px;
          color: #767e7f;

          @media #{$mobile} {
            font-size: 13px;
          }
        }
      }

      .review-text {
        font-size: 20px;
        line-height: 32px;
        color: #000000;
        margin: 8px 0;

        @media #{$mobile} {
          font-size: 17px;
        }
      }

      .translate {
        font-weight: 600;
        font-size: 15px;
        line-height: 28px;
        color: #767e7f;

        a {
          font-size: 15px;
          line-height: 28px;
          text-decoration-line: underline;
          color: #474c4d;
        }
      }
    }

    .toggle-button {
      font-weight: 700;
      font-size: 15px;
      line-height: 30px;
      text-align: center;
      text-decoration-line: underline;
      color: #2c2ffe;
      border: 0;
      background: none;
    }
  }
}

.flickity-viewport {
  width: 100%;
  overflow: visible;
}

.flickity-slider {
  display: flex;
}

// Footer
footer {
  padding-top: 80px;

  &.border-top {
    @media (min-width: 992px) {
      border-top: 1px solid #eeeef5;
    }
  }

  @media #{$mobile} {
    padding-top: 50px;
  }

  .footer-col {
    @media #{$tablet} {
      margin-bottom: 40px;
    }

    @media #{$mobile} {
      &:not(.last) {
        margin-bottom: 40px;
      }
    }

    @media (min-width: 992px) {
      width: fit-content;
      margin: auto;
    }

    h5 {
      margin-bottom: 40px;
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      min-height: 40px;
      display: flex;
      align-items: center;

      @media #{$tablet} {
        margin-bottom: 20px;
      }

      @media #{$mobile} {
        margin-bottom: 20px;
        font-size: 15px;
      }

      & ~ p {
        font-size: 20px;

        @media (min-width: 768px) and (max-width: 1200px) {
          font-size: 18px;
        }

        @media #{$mobile} {
          font-size: 15px;
        }
      }
    }

    ul {
      li {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 18px;

        @media #{$mobile} {
          font-size: 15px;
          margin-bottom: 12px;
        }

        a {
          display: block;
          color: #474c4d;
          transition: all 0.2s ease-in-out;

          &:hover {
            text-decoration: underline;
            color: #2c2ffe;
          }

          &.app-btn {
            &:hover {
              opacity: 0.75;
            }
          }

          img {
            display: block;
          }
        }
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid #eeeef5;
    padding: 33px 0;
    margin-top: 55px;

    @media #{$tablet} {
      margin-top: 0;
    }

    @media #{$mobile} {
      padding: 20px 0;
      margin-top: 20px;
    }

    .copyright {
      font-weight: 600;
      font-size: 18px;

      @media #{$mobile} {
        font-size: 15px;
      }
    }

    .social-icons-parent {
      @media #{$mobile} {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #eeeef5;
        justify-content: space-between;
      }

      @media (min-width: 768px) {
        justify-content: flex-end;
      }
    }

    #lang-dropdown2 {
      margin-left: 16px;
    }

    .social-icons {
      justify-content: flex-end;

      > li {
        position: relative;

        &:not(:last-of-type) {
          margin-right: 15px;

          @media #{$mobile} {
            margin-right: 8px;
          }
        }

        > a {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background: #dfe0ff;
          display: flex;
          transition: 0.2s ease-in-out;

          &:hover {
            background: #d3d4fb;
          }

          svg {
            margin: auto;
          }
        }
      }
    }
  }
}

// Search Page
.download-hello-app {
  padding: 140px 0;

  @media #{$betweentabdesk} {
    padding: 80px 0;
  }

  @media #{$maxTab} {
    padding: 40px 0;
  }

  p {
    font-size: 24px;

    @media (min-width: 992px) {
      max-width: 385px;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
      font-size: 20px;
    }

    @media #{$mobile} {
      font-size: 17px;
    }
  }

  .app-btns {
    max-width: 480px;
  }

  .download-hello-app-content {
    position: relative;

    @media (min-width: 992px) {
      padding: 50px 0;
    }

    @media (min-width: 992px) {
      &:after {
        content: "";
        position: absolute;
        border-radius: 85px;
        width: 80%;
        height: 100%;
        z-index: -1;
        left: 9%;
      }
    }

    &.lazyloaded {
      &:after {
        @media (min-width: 992px) {
          background-image: url(../imgs/homepage/contact-widget-bg.png);
          background-color: #fcf3eb;
          top: -20px;
        }
      }
    }
  }

  @media #{$maxTab} {
    &.lazyloaded {
      background-image: url(../imgs/homepage/contact-widget-bg.png);
    }

    background-color: #fcf3eb;
    background-repeat: no-repeat;
    padding-bottom: 30px;
  }
}

.download-apps {
  position: fixed;
  background: #ffffff;
  border-radius: 25px 0px 0px 25px;
  width: 426px;
  z-index: 99;
  height: 100vh;
  top: 0;
  right: 0;
  padding: 60px 40px;
  transform: translateX(100%);
  transition: all 0.2s ease-out;
  overflow: auto;
  @media #{$maxTab} {
    width: 260px;
    padding: 60px 24px 0;
  }

  &.active {
    transform: translateX(0);
    box-shadow: -33px 0px 90px rgba(76, 76, 108, 0.2);
  }

  .close {
    background: #ddf1f6;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 0;
    display: flex;
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background: #c2e6ef;
      svg {
        transform: rotate(180deg) scale(1.1);
      }
    }
    @media #{$maxTab} {
      width: 32px;
      height: 32px;
      svg {
        width: 13px;
        height: auto;
      }
    }

    svg {
      margin: auto;
      transition: 0.2s;
    }
  }

  .description {
    margin-right: 60px;
    @media #{$maxTab} {
      margin-right: 20px;
    }
  }

  .title {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    @media #{$maxTab} {
      font-size: 17px;
      line-height: 27px;
    }
  }

  .text {
    font-size: 20px;
    margin: 12px 0 32px;
    @media #{$maxTab} {
      margin: 12px 0 14px;
      font-size: 15px;
      line-height: 25px;
    }
  }
  .download-boxes {
    @media #{$maxTab} {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .box-download {
    background: #ffffff;
    box-shadow: 0px 4px 30px rgba(76, 76, 108, 0.15);
    border-radius: 15px;
    padding: 16px 16px 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    @media #{$maxTab} {
      flex-direction: column;
      padding: 8px;
      width: 100px;
      border-radius: 7px;
    }

    &.app-store {
      position: relative;
      margin-bottom: 40px;

      &:after {
        content: "COMING SOON...";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 42% 100%);
        background: #e9eef2;
        height: 115px;
        border-radius: 15px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-weight: 700;
        font-size: 15px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 1px;
        color: #2c2ffe;
        padding: 6px 30px;
        box-sizing: border-box;
        z-index: -1;
        @media #{$maxTab} {
          content: "SOON...";
          clip-path: none;
          justify-content: center;
          font-size: 12px;
          line-height: 12px;
          border-radius: 7px;
        }
      }
    }

    .our-review {
      @media (min-width: 992px) {
        margin-right: 24px;
      }
    }

    h4 {
      font-weight: 600;
      font-size: 28px;
      line-height: 30px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        margin-right: 5px;
      }
      @media #{$maxTab} {
        font-size: 17px;
        line-height: 17px;
      }
    }

    p {
      font-weight: 600;
      font-size: 15px;
      color: #767e7f;
      @media #{$maxTab} {
        font-size: 13px;
        margin-bottom: 12px;
      }
    }

    .app-btn {
      transition: 0.2s;
      @media #{$maxTab} {
        img {
          height: 24px;
        }
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.search-header {
  background: #ffffff;
  box-shadow: 0px 2px 22px rgba(76, 76, 108, 0.12);
  position: relative;
  z-index: 6;

  @media #{$maxTab} {
    height: 70px;
  }

  .language-dropdown {
    @media (min-width: 992px) {
      background: #f5f9fb;
    }

    &#userDropdown {
      background: none;
      padding: 8px 16px;

      .name-chars {
        width: 32px;
        height: 32px;
        background: #e2e4fe;
        display: block;
        border-radius: 50%;
        line-height: 32px;
        font-weight: 600;
        font-size: 15px;
        color: #2c2ffe;
        margin-right: 8px;
      }

      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90px;
      }
    }
  }
}

.search-banner {
  padding: 60px 0 160px;

  @media #{$mobile} {
    padding: 40px 0 185px;
  }

  .iti--separate-dial-code .iti__selected-flag {
    min-width: 110px;
    justify-content: center;

    @media #{$mobile} {
      min-width: 100px;
    }
  }

  &.default {
    background: #ecfbff;
  }

  &.spam {
    background: #ffeef0;
  }

  &.business {
    background: #edfff6;
  }

  h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 58px;
    color: #474c4d;
    margin-bottom: 40px;

    @media #{$tablet} {
      font-size: 22px;
      line-height: 52px;
      margin-bottom: 30px;
    }

    @media #{$mobile} {
      font-size: 17px;
      line-height: 27px;
      margin-bottom: 20px;
    }

    span {
      color: #2c2ffe;
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;

      @media #{$tablet} {
        font-size: 36px;
        line-height: 46px;
      }

      @media #{$mobile} {
        display: block;
        font-size: 24px;
        line-height: 34px;
      }
    }
  }

  .search {
    .form-group {
      padding: 20px;

      @media #{$tablet} {
        padding: 10px;
      }

      @media #{$mobile} {
        padding: 0;
      }
    }
  }
}

.search-results {
  margin-top: -160px;

  @media #{$maxTab} {
    padding-bottom: 60px;
  }

  @media #{$mobile} {
    margin-top: -185px;
  }

  &-header {
    padding: 32px;
    border-radius: 25px 25px 0px 0px;

    @media #{$mobile} {
      padding: 24px 0 12px;
    }

    &.default {
      background: #2c2ffe;
    }

    &.spam {
      background: linear-gradient(91.92deg, #ae1123 0%, #ce1126 100%);
    }

    &.business {
      background: #1cb96c;
    }
  }

  .search-results-content {
    background: #ffffff;
    box-shadow: 0px 13px 60px rgba(76, 76, 108, 0.09);
    border-radius: 25px;
  }

  .search-name {
    .avatar {
      width: 96px;
      height: 96px;
      background-color: #fff;
      color: #2c2ffe;
      border-radius: 50%;
      line-height: 96px;
      font-weight: 600;
      font-size: 36px;
      text-align: center;

      @media #{$tablet} {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 30px;
      }

      @media #{$mobile} {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 24px;
      }
    }

    .name {
      font-weight: 700;
      font-size: 20px;
      line-height: 38px;
      color: #ffffff;
      margin-left: 32px;

      @media #{$tablet} {
        margin-left: 20px;
      }

      @media #{$mobile} {
        margin: 12px 0 20px;
        font-size: 15px;
        line-height: 25px;
      }
    }
  }

  .identified {
    @media #{$mobile} {
      display: flex;
      align-items: center;
    }

    p {
      font-weight: 600;
      font-size: 13px;
      line-height: 32px;
      text-align: right;
      color: #ffffff;
      opacity: 0.7;

      @media #{$mobile} {
        margin-right: 10px;
      }
    }
  }

  .search-results-body {
    padding: 40px;
    align-items: flex-start;

    @media (min-width: 768px) and (max-width: 1200px) {
      padding: 20px;
    }

    @media #{$mobile} {
      padding: 0;
    }

    .main-info {
      width: 50%;

      @media #{$mobile} {
        width: 100%;
        padding: 24px 16px;
      }
    }

    .item {
      &.emails-parent {
        @media #{$maxTab} {
          flex-wrap: wrap;
        }
      }

      &:not(:last-of-type) {
        margin-bottom: 40px;

        @media #{$mobile} {
          margin-bottom: 24px;
        }
      }

      .icon {
        margin-right: 24px;

        svg {
          display: block;
        }

        @media (max-width: 1200px) {
          margin-right: 14px;

          svg {
            width: 40px;
            height: auto;
          }
        }
      }

      p.title {
        font-weight: 600;
        font-size: 15px;

        @media #{$mobile} {
          font-size: 13px;
        }
      }
      .detail {
        width: 100%;

        .value {
          font-weight: 600;
          font-size: 18px;
          line-height: 28px;
          color: #000000;

          @media #{$mobile} {
            font-size: 15px;
          }
        }

        .emails {
          @media #{$maxTab} {
            margin-top: 14px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }

          li {
            position: relative;
            display: inline-flex;
            word-break: break-all;

            svg {
              path {
                transition: 0.2s;
              }
            }
          }

          li:not(:last-of-type) {
            margin-bottom: 12px;

            @media #{$mobile} {
              margin-bottom: 8px;
            }
          }

          .send-icon {
            &:hover {
              svg {
                path {
                  fill: #000;
                }
              }

              .tooltiptext {
                opacity: 1;
                visibility: visible;
                top: -40px;
              }
            }
          }
        }

        .socials {
          margin-top: 8px;
          flex-wrap: wrap;

          li:not(:last-of-type) {
            margin-right: 12px;
          }

          li a {
            width: 32px;
            height: 32px;
            display: flex;
            border-radius: 8px;
            margin-bottom: 5px;

            svg {
              margin: auto;
            }
          }
        }
      }
    }

    .popular-tags {
      background: #f8fbfd;
      border-radius: 25px;
      width: 45%;
      position: relative;

      @media #{$mobile} {
        width: 100%;
        margin-top: 4px;
      }

      .header {
        padding: 16px 20px;
        border-bottom: 1px solid #ffffff;

        .icon {
          box-shadow: 0px 16px 30px rgba(76, 76, 108, 0.14);
          border-radius: 50%;

          @media #{$mobile} {
            svg {
              width: 32px;
              height: auto;
            }
          }
        }

        p {
          font-weight: 600;
          font-size: 15px;

          @media #{$mobile} {
            font-size: 13px;
          }
        }
      }

      .names {
        padding: 24px 32px 32px;
        max-height: 277px;
        overflow: auto;

        @media #{$maxTab} {
          padding: 16px 20px;
        }

        li {
          display: flex;
          align-items: center;
          font-weight: 600;

          @media #{$mobile} {
            font-size: 13px;
          }

          &:not(:last-of-type) {
            margin-bottom: 16px;
          }

          .hash {
            cursor: pointer;

            svg {
              display: block;
            }

            .tooltiptext {
              left: -25px;
              min-width: 130px;
              text-align: center;
            }

            &:hover .tooltiptext {
              opacity: 1;
              visibility: visible;
              top: 70px;
            }
          }
        }
      }
    }

    .tooltiptext {
      position: absolute;
      display: inline-block;
      top: -50px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease-in-out;
      background: #ffffff;
      box-shadow: 0px 16px 30px rgb(76, 76, 108, 0.14);
      border-radius: 7px;
      padding: 3px 12px;
      font-weight: 600;
      font-size: 15px;
      line-height: 25px;
      color: #000000;
      min-width: 120px;
      right: -50px;

      &:after {
        content: "";
        position: absolute;
        border-width: 8px;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
        display: block;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
      }
    }
  }

  .search-results-wrapper {
    background: #f8fbfd;
    border-radius: 25px;
  }

  .other-features {
    ul {
      li {
        &:not(:last-of-type) {
          margin-right: 16px;
        }
      }

      button {
        padding: 10px 16px;
        border: 1px solid #d8e2e6;
        border-radius: 65px;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        color: #474c4d;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: transparent;
        transition: 0.2s;

        @media #{$mobile} {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          padding: 0;
        }

        &:hover {
          background: #ffffff;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
          border-color: transparent;

          svg {
            path {
              fill: #474c4d;
            }
          }
        }

        span {
          margin-right: 10px;

          @media #{$mobile} {
            margin-right: 0;
          }

          svg {
            display: block;

            path {
              transition: 0.2s;
            }
          }
        }
      }
    }
  }
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 24px;
    border: 3px solid transparent;
    box-shadow: inset 0 0 10px 10px #e1e1e1;
  }

  &::-webkit-scrollbar-track {
    border: 5px solid transparent;
    box-shadow: inset 0 0 10px 10px #f9f9f8;

    @media #{$maxTab} {
      box-shadow: inset 0 0 10px 10px $primaryColor;
    }
  }
}
