@import "sass/commonSections/iti";
@import "sass/global_styles/bootstrap-classes";
@import "sass/global_styles/global";
@import "sass/global_styles/header";
@import "sass/global_styles/footer";
@import "sass/commonSections/flickity";

.homepage-hero-image {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 60px 0;

  @media #{$betweentabdesk} {
    padding: 50px 0 20px;
  }

  @media #{$maxTab} {
    padding: 120px 0 60px;
  }

  @media (min-width: 992px) {
    height: calc(100% - 116px);
  }

  h1 {
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 36px;

    @media (min-width: 1400px) {
      padding-right: 50px;
    }

    @media #{$betweentabdesk} {
      font-size: 44px;
    }

    @media #{$tablet} {
      font-size: 32px;
      margin-bottom: 24px;
    }

    @media #{$mobile} {
      font-size: 28px;
      margin-bottom: 24px;
    }
  }

  .image img {
    @media (max-width: 992px) {
      max-width: 100%;
      display: block;
      height: auto;
    }
  }
}

.hero-left .form-group {
  @media (min-width: 1400px) {
    max-width: 520px;
  }
}

.hp-search .form-group {
  @media #{$maxTab} {
    background: none;
    box-shadow: none;
    flex-wrap: wrap;
    padding: 0;
  }
}

.hp-search .search-btn {
  @media #{$maxTab} {
    width: 100%;
    margin-top: 8px;
    padding: 10px 17px;
  }
}

// App Features
.app-features {
  .feat-box {
    background: #ffffff;
    box-shadow: 0px 33px 90px rgba(76, 76, 108, 0.1);
    border-radius: 25px;
    padding: 48px 32px;
    transition: 0.2s ease-in-out;

    &:hover {
      box-shadow: 0px 33px 90px rgba(76, 76, 108, 0.18);
    }

    @media #{$tablet} {
      padding: 20px;
    }

    h3 {
      font-weight: 700;
      font-size: 28px;

      @media #{$betweentabdesk} {
        font-size: 24px;
      }

      @media #{$tablet} {
        font-size: 20px;
      }

      @media #{$mobile} {
        font-size: 17px;
      }
    }

    p {
      font-size: 20px;

      @media #{$betweentabdesk} {
        font-size: 18px;
      }

      @media #{$maxTab} {
        font-size: 15px;
      }
    }
  }
}

// Contact
.contact-widget,
.contact-details,
.smart-options {
  p,
  li {
    font-size: 24px;

    @media (min-width: 768px) and (max-width: 1200px) {
      font-size: 20px;
    }

    @media #{$mobile} {
      font-size: 17px;
    }
  }

  li {
    @media #{$tablet} {
      font-size: 18px;
    }
  }

  ul {
    padding-left: 30px;
  }

  li {
    list-style: square;
    color: #474c4d;
    margin-bottom: 5px;

    &::marker {
      font-size: 15px;
    }
  }

  .contact-widget-content,
  .contact-details-content,
  .smart-options-content {
    position: relative;

    @media (min-width: 992px) {
      &:after {
        content: "";
        position: absolute;
        border-radius: 85px;
        width: 82%;
        height: 81%;
        z-index: -1;
        left: 11%;
      }
    }
  }

  .contact-widget-content {
    &.lazyloaded {
      &:after {
        @media (min-width: 992px) {
          background-image: url(../imgs/homepage/contact-widget-bg.png);
          background-color: #fcf3eb;
          top: -20px;
        }
      }
    }
  }

  .contact-details-content {
    &.lazyloaded {
      &:after {
        @media (min-width: 992px) {
          background-image: url(../imgs/homepage/contact-details-bg.png);
          background-color: #ecfbff;
          top: 45px;
        }
      }
    }
  }

  .smart-options-content {
    &:after {
      @media (min-width: 992px) {
        background-color: #efe7ff;
        top: -20px;
        height: 100%;
      }
    }
  }
}

.contact-widget {
  @media #{$maxTab} {
    &.lazyloaded {
      background-image: url(../imgs/homepage/contact-widget-bg.png);
    }

    background-color: #fcf3eb;
    background-repeat: no-repeat;
    padding-bottom: 30px;
  }
}

.contact-details {
  padding-top: 0;

  @media #{$maxTab} {
    &.lazyloaded {
      background-image: url(../imgs/homepage/contact-details-bg.png);
    }

    background-color: #ecfbff;
    background-repeat: no-repeat;
    padding: 60px 0 20px;
  }

  @media #{$tablet} {
    padding: 50px 0;
  }
}

.smart-options {
  @media #{$maxTab} {
    background-color: #efe7ff;
  }
}

// Upgrade Premium
.upgrade-premium {
  &.lazyloaded {
    background-image: url(../imgs/homepage/upgrade-bg.png);
  }

  background-color: #2c2ffe;
  padding-top: 150px;
  position: relative;
  z-index: 3;

  @media (min-width: 768px) and (max-width: 1200px) {
    padding-top: 80px;
  }

  @media #{$mobile} {
    padding-top: 50px;
  }

  p {
    font-size: 24px;
    color: #fff;

    @media (min-width: 768px) and (max-width: 1200px) {
      font-size: 20px;
    }

    @media #{$mobile} {
      font-size: 17px;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    margin: 15px 0 80px;

    @media #{$tablet} {
      margin: 15px 0 50px;
    }

    @media #{$mobile} {
      margin: 24px 0 36px;
      flex-direction: column;
    }

    li {
      font-weight: 600;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-right: 24px;

        @media #{$mobile} {
          margin: 0 0 10px 0;
        }
      }

      svg {
        margin-right: 10px;
      }
    }
  }

  .pricing-plans {
    background: #ffffff;
    box-shadow: 0px 33px 90px rgba(76, 76, 108, 0.1);
    border-radius: 25px 25px 0px 0px;
    display: flex;

    @media #{$mobile} {
      flex-direction: column;
    }

    .plan {
      padding: 60px 36px;
      flex: 1 1 25%;
      width: 25%;
      position: relative;

      .stretch-link {
        position: absolute;
        inset: 0;
        z-index: 10;
      }

      @media #{$betweentabdesk} {
        padding: 50px 24px 30px;
      }

      @media #{$tablet} {
        padding: 40px 16px 30px;
      }

      @media #{$mobile} {
        padding: 20px;
        flex: 1 1 100%;
        width: 100%;
      }

      &.main-plan {
        box-shadow: 0px 33px 90px rgba(76, 76, 108, 0.1);
        position: relative;

        .recommended {
          position: absolute;
          top: -21px;
          left: 50%;
          transform: translateX(-50%);
          font-weight: 600;
          font-size: 18px;
          line-height: 18px;
          color: #ffffff;
          padding: 12px 24px;
          background: #fb5b29;
          border-radius: 76px;

          @media #{$betweentabdesk} {
            font-size: 16px;
          }

          @media #{$tablet} {
            padding: 8px 12px;
            top: -16px;
            font-size: 12px;
            line-height: 14px;
          }

          @media #{$mobile} {
            position: static;
            transform: translateX(0);
            margin-bottom: 6px;
          }
        }
      }

      &:not(:last-child) {
        border-right: 1px solid #eeeef5;

        @media #{$mobile} {
          border-bottom: 1px solid #eeeef5;
          border-right: 0;
        }
      }

      &.year-plan {
        color: #2c2ffe;

        .subscribe-btn {
          color: #2c2ffe;
          background: #dfe0ff;

          &:hover {
            background: #d3d4fb;
          }

          &:active {
            background: #edeeff;
          }
        }
      }

      &.six-months-plan {
        color: #fb5b29;

        .subscribe-btn {
          color: #fb5b29;
          background: #ffdfd6;

          &:hover {
            background: #fdd0c4;
          }

          &:active {
            background: #ffefeb;
          }
        }
      }

      &.month-plan {
        color: #ff9c00;

        .subscribe-btn {
          color: #ff9c00;
          background: #ffeac8;

          &:hover {
            background: #fadeb3;
          }

          &:active {
            background: #fff1da;
          }
        }
      }

      &.seven-days-plan {
        color: #9a65ff;

        .subscribe-btn {
          color: #9a65ff;
          background: #e8dcff;

          &:hover {
            background: #d9c8fb;
          }

          &:active {
            background: #f2ebff;
          }
        }
      }
    }

    .plan-period {
      font-weight: 600;
      font-size: 28px;
      line-height: 38px;
      color: #000000;
      margin-bottom: 32px;

      @media #{$betweentabdesk} {
        font-size: 22px;
      }

      @media #{$tablet} {
        font-size: 16px;
        margin-bottom: 20px;
      }

      @media #{$mobile} {
        font-size: 17px;
        line-height: 27px;
        margin: 0 0 16px;
      }

      .off {
        font-weight: 600;
        font-size: 18px;
        line-height: 38px;
        color: #474c4d;

        @media #{$tablet} {
          font-size: 12px;
        }

        @media #{$mobile} {
          font-size: 15px;
        }
      }
    }

    .plan-price {
      font-weight: 700;
      font-size: 64px;
      line-height: 58px;
      position: relative;

      @media #{$tablet} {
        font-size: 44px;
        line-height: 50px;
      }

      @media #{$mobile} {
        font-size: 34px;
        line-height: 44px;
      }

      .cent {
        font-size: 28px;
        line-height: 15px;
        position: absolute;
        top: 10px;
        right: -35px;

        @media #{$tablet} {
          font-size: 20px;
          right: -24px;
        }

        @media #{$mobile} {
          font-size: 17px;
          line-height: 15px;
          right: -24px;
        }
      }
    }

    .plan-autorenewal-text {
      font-size: 20px;
      text-align: center;
      color: #474c4d;
      margin: 15px 16px 40px;

      @media (min-width: 1400px) {
        margin: 15px 40px 40px;
      }

      @media #{$betweentabdesk} {
        font-size: 18px;
      }

      @media #{$tablet} {
        font-size: 16px;
        margin: 15px 0 30px;
      }

      @media #{$mobile} {
        margin: 0 0 12px;
        font-size: 15px;
      }
    }

    .subscribe-btn {
      font-weight: 700;
      font-size: 15px;
      line-height: 28px;
      display: block;
      padding: 14px;
      text-align: center;
      border-radius: 7px;
      transition: 0.2s ease-in-out;

      @media #{$maxTab} {
        padding: 10px;
      }
    }
  }
}

.users-reviews {
  position: relative;
  z-index: 2;
  background: #fcf3eb;
  overflow: hidden;

  .hide-number {
    background: #ecfbff;
    border-radius: 0 0 25px 25px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media #{$mobile} {
      flex-direction: column;
      padding: 40px 20px;
    }
  }

  .service-cost {
    border-right: 1px solid #dff1f7;
    padding-right: 30px;
    display: flex;
    align-items: center;
    width: 60%;

    @media (min-width: 768px) and (max-width: 1200px) {
      width: 50%;
      padding-right: 20px;
    }

    @media #{$mobile} {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid #dff1f7;
      padding-right: 0;
      padding-bottom: 16px;
    }
  }

  .insert-number {
    padding-left: 30px;
    width: 40%;

    @media (min-width: 768px) and (max-width: 1200px) {
      padding-left: 20px;
      width: 50%;
    }

    @media #{$mobile} {
      width: 100%;
      padding-left: 0;
      padding-top: 16px;
    }

    h6 {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 20px;

      @media #{$tablet} {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 12px;
      }
    }
  }

  .price {
    background: #ffffff;
    box-shadow: 0px 33px 90px rgba(76, 76, 108, 0.1);
    border-radius: 25px;
    padding: 8px;
    display: flex;
    align-items: center;
    margin-right: 30px;

    @media (max-width: 1200px) {
      display: none;
    }

    .icon {
      background: #f8fbfd;
      border-radius: 25px;
      padding: 18px;
      margin-right: 24px;
    }

    .value {
      font-weight: 700;
      font-size: 64px;
      line-height: 58px;
      color: #2c2ffe;
      position: relative;
      padding-right: 50px;

      .cent {
        position: absolute;
        top: 10px;
        right: 12px;
        font-size: 28px;
        line-height: 15px;
      }
    }
  }

  .service-text {
    h5 {
      font-size: 28px;
      margin-bottom: 20px;

      @media #{$tablet} {
        font-size: 25px;
        margin-bottom: 15px;
      }

      @media #{$mobile} {
        font-size: 17px;
        margin-bottom: 12px;
      }

      .hide-price {
        font-weight: 700;
        font-size: 17px;
        line-height: 27px;
        color: #2c2ffe;

        @media (min-width: 768px) and (max-width: 1200px) {
          font-size: 27px;
        }
      }
    }

    p {
      font-size: 20px;
      color: #474c4d;

      @media #{$tablet} {
        font-size: 18px;
      }

      @media #{$mobile} {
        font-size: 15px;
      }
    }
  }

  .reviews {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    @media #{$betweentabdesk} {
      padding: 70px 0;
    }

    @media #{$maxTab} {
      padding: 50px 0;
    }

    h2 {
      margin-bottom: 64px;

      @media (min-width: 768px) and (max-width: 1200px) {
        margin-bottom: 34px;
      }

      @media #{$mobile} {
        margin-bottom: 24px;
      }
    }

    .top-reviews,
    .bottom-reviews {
      @media #{$mobile} {
        padding: 0 20px;
      }

      @media (min-width: 768px) {
        display: flex;
        min-width: 4000px;
      }

      // &:hover {
      //   animation-play-state: paused;
      // }
    }

    // @media (min-width: 768px) {
    //   .top-reviews {
    //     animation: ticker 30s linear infinite;
    //   }

    //   .bottom-reviews {
    //     animation: reversticker 30s linear infinite;
    //     align-self: flex-end;
    //   }
    // }

    // @keyframes ticker {
    //   0% {
    //     transform: translateX(0);
    //   }

    //   100% {
    //     transform: translateX(-50%);
    //   }
    // }

    // @keyframes reversticker {
    //   0% {
    //     transform: translateX(0);
    //   }

    //   100% {
    //     transform: translateX(50%);
    //   }
    // }

    .bottom-reviews {
      .review {
        direction: ltr;
      }
    }

    .review {
      padding: 24px;
      background: #ffffff;
      box-shadow: 0px 12px 50px rgba(103, 92, 83, 0.08);
      border-radius: 25px;
      width: 400px;
      margin: 0 15px 30px 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 220px;

      @media #{$mobile} {
        min-height: 178px;
        min-width: 280px;
        width: 100%;
        max-width: 400px;
        margin: 0 0 20px 0;
      }

      .stars {
        margin-bottom: 3px;

        img {
          display: block;
        }
      }

      .review-info {
        display: flex;
        align-items: center;

        .user {
          font-weight: 600;
          font-size: 15px;
          line-height: 28px;
          color: #474c4d;

          @media #{$mobile} {
            font-size: 13px;
          }
        }

        .dot {
          margin: 0 10px;
        }

        .date {
          font-weight: 600;
          font-size: 15px;
          line-height: 28px;
          color: #767e7f;

          @media #{$mobile} {
            font-size: 13px;
          }
        }
      }

      .review-text {
        font-size: 20px;
        line-height: 32px;
        color: #000000;
        margin: 8px 0;

        @media #{$mobile} {
          font-size: 17px;
        }
      }

      .translate {
        font-weight: 600;
        font-size: 15px;
        line-height: 28px;
        color: #767e7f;

        a {
          font-size: 15px;
          line-height: 28px;
          text-decoration-line: underline;
          color: #474c4d;
        }
      }
    }

    .toggle-button {
      font-weight: 700;
      font-size: 15px;
      line-height: 30px;
      text-align: center;
      text-decoration-line: underline;
      color: #2c2ffe;
      border: 0;
      background: none;
    }
  }
}

.flickity-viewport {
  width: 100%;
  overflow: visible;
}

.flickity-slider {
  display: flex;
}
